# Ignore compiled binary
bin/*.o
bin/*.dSYM

# Ignored text input files
txt/*.txt

# Ignore Mac OS X icon files
.DS_Store

# Ignore Windows specific files
.exe
.pdb
.obj
.idb
.ilk
.sdf

# do not include our opponents' src code
opponents
